#player{
  height: 50vh;
  width: 100%;
}

#my-video {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
}
.card {
  height : 230px;
  width : 100%;

  background-image: linear-gradient(to bottom right, #1E2129, black);
  color: white
}


#crd-image{
  height : 70%;
  overflow : hidden;
}

#crd-image img{
  transition : all 1s ease;
}

#crd-image:hover img{
  transform : scale(1.5);
}

#channel_logo{
width: 100%;
height: 85%;
}


h5#card-channel_logo-name {
    font-size: 1em;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
